.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 88vh;
  overflow: auto;
}

.list::-webkit-scrollbar {
  display: none;
}

.list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
